.Container-1,
.square-eyes-logo-box,
.Container-4,
.Container-5,
.footer,
.footer-content-box,
.Hidden-images-box,
header,
body {
  width: 100%;
  position: relative;
}

html,
body,
header,
footer,
main,
.Container-1,
.Hidden-images-box,
.Container-5,
.Container-4,
.Hidden-images-box img {
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
}

main {
  margin: 0;
  height: 100vh;
}

/* HEADER */

header {
  max-height: 100px;
}

.Container-1 {
  background: rgb(170, 71, 255);
  background: linear-gradient(
    180deg,
    rgba(170, 71, 255, 1) 0%,
    rgba(15, 59, 112, 1) 100%
  );
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-areas: "Hamburger Logo Search-Cart";
  justify-items: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  min-height: 100px;
  max-height: 100px;
  margin: 0;
  padding: 0;
}

.square-eyes-logo-box {
  justify-content: center;
  align-content: center;
  width: 100px;
}

.SquareEyes-logo {
  grid-area: Logo;
  min-width: 120px;
  height: 80px;
  width: 100%;
  position: static;
  align-self: center;
  justify-self: end;
  filter: drop-shadow(0.1rem 0.1rem white);
  z-index: 10;
}

#mobile-checkbox {
  display: none;
}

#mobile-checkbox:checked ~ nav {
  display: block;
}
nav {
  display: none;
  grid-area: Hamburger;
  width: 8rem;
  background-color: black;
  position: absolute;
  max-height: 50px;
  max-width: 100px;
  min-width: 100px;
  z-index: 9;
  margin-top: 4.9rem;
  margin-left: 5.3rem;
  white-space: no-wrap;
  float: left;
}

nav a {
  display: block;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  position: static;
  margin: auto;
  background-color: black;
  color: white;
  text-decoration: none;
  white-space: none;
  z-index: 9;
}

nav a:hover {
  border: 4px solid purple;
}

#hamburger {
  grid-area: Hamburger;
  display: flex;
  flex-direction: column;
  width: 1rem;
  position: static;
  align-self: center;
  justify-self: center;
}

.Search-Cart-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax 100px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "GAP GAP"
    "search cart"
    "box box";
  column-gap: 0rem;
  gap: 0.5rem;
  height: 100px;
  width: 100%;
  max-width: 50rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
}

.search-icon,
.cart-icon {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.cart-icon {
  grid-area: cart;
  align-self: center;
}

#search-icon-button {
  grid-area: search;
  max-width: 2rem;
  max-height: 2rem;
  align-self: center;
  justify-self: end;
}

.Search-form {
  grid-area: search;
}

#search-checkbox {
  display: none;
}

#search-checkbox:checked ~ #search-box {
  display: block;
}

#search-box {
  display: none;
  grid-area: box;
  z-index: 10;
  position: absolute;
  margin-top: 2rem;
  width: 100%;
  width: 300px;
  margin-left: -13.5rem;
  padding: 8px 60px;
  justify-self: start;
  background-color: black;
  color: white;
  border: 10px solid #9747ff;
}

/* HIDDEN IMAGES PAGE */

.Container-5 {
  background-color: #0f3b70;
  min-height: 200px;
  max-height: 100vh;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 2fr;
  grid-template-areas:
    "GAP GAP GAP"
    "Space Space Back-Arrow"
    "Img Img Img";
  row-gap: 10px;
}

.Img-box-wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100vw;
}

.Hidden-images-box {
  display: flex;
  min-height: 400px;
  max-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: #0f3b70;
  z-index: 8;
  grid-area: Img;
  align-items: center;
  padding-top: 2rem;
}

.Hidden-images-box img {
  width: 6rem;
  max-width: 25vw;
  max-height: 70vh;
  width: 100vw;
  filter: drop-shadow(0.1rem 0.2rem black);
}

.return-key-box {
  display: flex;
  width: 95vw;
  height: 70px;
  justify-content: flex-end;
  align-items: end;
  z-index: 8;
  float: right;
  padding-top: 7rem;
}

.material-symbols-outlined {
  color: white;
  z-index: 8;
  float: right;
  position: static;
}

/* FOOTER */

footer {
  max-width: 100vw;
  width: 100%;
  position: relative;
}

.Container-4 {
  max-height: 80px;
  background: rgb(170, 71, 255);
  background: linear-gradient(
    180deg,
    rgba(170, 71, 255, 1) 0%,
    rgba(15, 59, 112, 1) 100%
  );
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 240px;
  z-index: 8;
}

.footer-links-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Footer-Links a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}

.line {
  margin-left: 0.2rem;
}

.SMI-img-box {
  width: 100%;
  justify-content: center;
  display: flex;
}

.footer-content-box {
  height: 6rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-content: center;
  width: 100%;
}

footer img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}
